<header>
    <link rel="stylesheet" href="/css/main.css">
    <div class="header-container">
        <img src="/images/logo.png" alt="Logo" class="logo"> 
        <nav>
            <ul>
                <li><a href="/logout" class="btn logout-btn">Logout</a></li> 
            </ul>
        </nav>
    </div>
</header>

