<h1>Customer Navigation</h1>

<nav>
    <ul>
        <li><a href="/customer/ratings">Ratings</a></li>
        <li><a href="/customer/flights">Search Flights</a></li>
        <li><a href="/customer/purchase">Purchase Ticket</a></li>
        <li><a href="/customer/spending">View Spending</a></li>
    </ul>
</nav>
