<h1>Customer Navigation</h1>
<link rel="stylesheet" href="/css/main.css">

<nav>
    <a href="/customer/ratings" class="btn">Ratings</a>
    <a href="/customer/flights" class="btn">Search Flights</a>
    <a href="/customer/purchase" class="btn">Purchase Ticket</a>
    <a href="/customer/spending" class="btn">View Spending</a>
</nav>
