<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodbye</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Goodbye!</h1>
    <h2>Thank you for visiting. We hope to see you again soon!</h2>
    
    <a href="/customer-login" class="btn">Login again as Customer</a>
    <a href="/staff-login" class="btn">Login again as Airline Staff</a>
</body>
</html>
