<%- include('../header') %>
<h1>Staff Dashboard</h1>
<link rel="stylesheet" href="/css/main.css">

<!-- Links to other sections -->
<nav>
        <a href="/staff/manage-flights" class="btn">Manage Flights</a>
        <a href="/staff/analytics" class="btn">View Analytics</a>
        <a href="/staff/maintenance" class="btn">Schedule Maintenance</a>
        <a href="/staff/revenue" class="btn">View Revenue</a>
</nav>
